<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nb.my_app.mapper.UserProfileMapper">

    <!-- 结果映射 -->
    <resultMap id="userProfileResultMap" type="com.nb.my_app.entity.UserProfile">
        <id property="id" column="id"/>
        <result property="deviceId" column="device_id"/>
        <result property="gender" column="gender"/>
        <result property="age" column="age"/>
        <result property="university" column="university"/>
        <result property="gpa" column="gpa"/>
        <result property="activeDaysWithin30" column="active_days_within_30"/>
        <result property="questionCnt" column="question_cnt"/>
        <result property="answerCnt" column="answer_cnt"/>
    </resultMap>

    <!-- 查询所有用户 -->
    <select id="selectAllUserProfiles" resultMap="userProfileResultMap">
        SELECT id,
               device_id,
               gender,
               age,
               university,
               gpa,
               active_days_within_30,
               question_cnt,
               answer_cnt
        FROM user_profile
    </select>

</mapper>